<label>Speaker</label>
<mat-form-field>
  <mat-select name="speaker"
    placeholder="Who sayeth this"
    required
    (selectionChange)="onSpeakerChange($event)"
    [value]="speaker">
    <mat-option *ngFor="let s of speakers"
      [value]="s">
      {{s}}
    </mat-option>
  </mat-select>
</mat-form-field>
<label>Dialog</label>
<mat-form-field>
  <input (change)="onDialogChange($event)"
    matInput
    name="dialog"
    placeholder="A line of dialog goeth here"
    required
    [value]="dialog">
</mat-form-field>
<label>Mood</label>
<mat-form-field>
  <mat-select name="mood"
    placeholder="The speaker's mood"
    (selectionChange)="onMoodChange($event)"
    [value]="mood">
    <mat-option *ngFor="let m of moods"
      [value]="m">
      {{m}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox (change)="onNextActChange($event)"
  [checked]="nextAct">
  Triggers Next Act
</mat-checkbox>