.stage-editor-container {
    display: flex;
    width: 100%;
    height: 100%;

    /* background-image: url('https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_960_720.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}