<mat-card>
    <mat-card-title>
      Characters
    </mat-card-title>
  </mat-card>
  <mat-list role="list">
    <mat-list-item *ngFor="let char of characters$ | async; index as i"
      [ngClass]="{'editing': (currentCharacter$ | async)===i}"
      role="listitem">
        <mat-card class="clickable-menu-item"
        (click)="selectCharacter(i)">
          {{ char.name }}
        </mat-card>
    </mat-list-item>
  </mat-list>
  <button (click)="addCharacter()"
    color="accent"
    mat-flat-button
    >
    Add Character
  </button>