<app-window-close-button (clickedClose)="close()">
</app-window-close-button>
<form class="form-container"
  [formGroup]="form"
  >
  <label>Stage Name</label>
  <mat-form-field>
    <input formControlName="name"
      matInput
      name="name"
      required
      >
  </mat-form-field>
  <label>Backgrond Image URL</label>
  <mat-form-field class="hasErrorText">
    <input formControlName="backgroundImageURL"
      matInput
      name="backgroundImageURL"
      required>
    <mat-error *ngIf="!form.get('backgroundImageURL').valid">
      Please enter a valid URL to an image.
    </mat-error>
  </mat-form-field>
  <label>Characters</label>
  <mat-list role="list">
    <mat-list-item *ngFor="let char of characters; index as i"
      role="listItem">
      {{ char }}
      <button mat-icon-button>
        <mat-icon aria-label="remove character from stage button"
          (click)=removeCharacterFromStage(i)>
          delete
        </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <button (click)="showCharacterSelect()"
    color="accent"
    mat-flat-button
    >
    Add character
  </button>
  <!-- Can't use submit button b/c material bug https://github.com/angular/material2/issues/4190 -->
  <button (click)="onSubmit()"
    color="primary"
    [disabled]="!form.valid"
    mat-flat-button
    type="button"
    >
    Submit
  </button>
</form>
<button color="warn"
  mat-mini-fab>
  <mat-icon aria-label="delete stage from act"
    (click)="deleteThisStage()">
    delete
  </mat-icon>
</button>