<app-window-close-button (clickedClose)="close()">
</app-window-close-button>
<form class="form-container"
  [formGroup]="form"
  >
  <label>Character Name</label>
  <mat-form-field>
    <input formControlName="name"
      matInput
      name="name"
      required>
  </mat-form-field>
  <label>Default Image URL</label>
  <mat-form-field class="hasErrorText">
    <input formControlName="defaultImageURL"
      matInput
      name="defaultImageURL"
      required>
    <mat-error *ngIf="!form.get('defaultImageURL').valid">
      Please enter a valid URL to an image.
    </mat-error>
  </mat-form-field>
  <label>Mood Image URLs</label>
  <mat-list role="list">
    <label>Mood</label><label>URL</label>
    <mat-list-item *ngFor="let mood of moods | keyvalue; index as i"
      role="listItem">
      <mat-form-field>
        <input [formControlName]="moodKeyPrefix + mood.key"
          matInput
          [name]="moodKeyPrefix + mood.key"
          required
          [value]="mood.key">
      </mat-form-field>
      <mat-form-field>
        <input [formControlName]="moodValuePrefix + mood.key"
          matInput
          [name]="moodValuePrefix + mood.key"
          required
          [value]="mood.value">
      </mat-form-field>
      <button (click)="deleteMood(mood.key)" mat-mini-fab>
          <mat-icon aria-label="delete mood">
            delete
          </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <button (click)="addMood()" mat-mini-fab>
      <mat-icon aria-label="add mood">
        add
      </mat-icon>
  </button>
  <!-- Can't use submit button b/c material bug https://github.com/angular/material2/issues/4190 -->
  <button (click)="onSubmit()"
    color="primary"
    [disabled]="!form.valid"
    mat-flat-button
    type="button"
    >
    Submit
  </button>
  <button color="warn"
    mat-mini-fab>
    <mat-icon aria-label="delete character"
      (click)="deleteThisCharacter()">
      delete
    </mat-icon>
  </button>
</form>