@import '@angular/material/prebuilt-themes/indigo-pink.css';

body, html {
    margin: 0;
    width: 100%;
    height: 100%;

    background-image: url('./assets/graphy.png');
}

h1, h2, h3, h4, h5, h6, label, p {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.hasErrorText {
    margin-bottom: 16px;
}